.sidebar,
.page-wrapper,
.header,
button,
.overlay {
  transition: 0.25s all;
}

.sidebar {
  transform: translate(0);
}

.overlay {
  opacity: 1;
  visibility: visible;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
}


.sidebar {
  transform: translate(-100%);
}

.page-wrapper {
  width: 100%;
  padding: 0;
  overflow-x: hidden !important;
}

.menu-opened {
  .sidebar {
    transform: translate(0);
  }

  .overlay {
    visibility: visible;
    opacity: 1;
  }
}

.moderator-toggle {
  i {
    font-weight: 700;
    font-size: 1.5rem !important;
    line-height: 38px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-opened {
    .page-wrapper {
      margin-left: 300px;
      width: calc(100% - 300px);
      padding: 0;
      overflow-x: hidden !important;
    }

    .sidebar {
      transform: translate(0);
    }

  }

  .header {
    width: calc(100% - 300px);
  }

  .page-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .header {
    margin-left: 0;
    width: 100%;
  }
}


.wallet-adapter-button {
  &.bg-secondary {
    background-color: #1a1f2e;

    &:hover {
      background-color: #fff;
      color: #1a1f2e;
    }
  }
}