.sidebar,
.page-wrapper,
.header,
button,
.overlay {
  transition: 0.25s all;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html::-webkit-scrollbar,
.sidebar-content::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

html::-webkit-scrollbar-thumb,
.sidebar-content::-webkit-scrollbar-thumb {
  margin-right: 2px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  cursor: pointer;
}

.sidebar {
  transform: translate(0);
}

.overlay {
  opacity: 1;
  visibility: visible;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
}


.sidebar {
  transform: translate(-100%);
}

.page-wrapper {
  width: 100%;
  padding: 0;
  overflow-x: hidden !important;
}

.menu-opened {
  .sidebar {
    transform: translate(0);
  }

  .overlay {
    visibility: visible;
    opacity: 1;
  }
}

.moderator-toggle {
  i {
    font-weight: 700;
    font-size: 1.5rem !important;
    line-height: 38px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-opened {
    .page-wrapper {
      margin-left: 300px;
      width: calc(100% - 300px);
      padding: 0;
      overflow-x: hidden !important;
    }

    .sidebar {
      transform: translate(0);
    }

    .header {
      width: calc(100% - 300px);
    }
  }

  .header {
    width: calc(100% - 300px);
  }

  .page-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .header {
    margin-left: 0;
    width: 100%;
  }
}


.wallet-adapter-button {
  &.bg-secondary {
    background-color: #1a1f2e;

    &:hover {
      background-color: #fff;
      color: #1a1f2e;
    }
  }
}


// Loading Overlay Effect
.pl {
  display: block;
  width: 8em;
  height: 8em;
}

.pl__ring,
.pl__ball1,
.pl__ball2 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 32px 32px;
}

.pl__ring {
  animation-name: ring;
}

.pl__ball1 {
  animation-name: ball1;
}

.pl__ball2 {
  animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(135deg);
  }

  15% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -122.52;
    transform: rotate(90deg);
  }

  35% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -65.34;
    transform: rotate(297.5deg);
  }

  55% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(505deg);
  }

  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(490deg);
  }

  85%,
  to {
    stroke-dashoffset: -122.52;
    transform: rotate(497.5deg);
  }
}

@keyframes ball1 {
  from {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-7deg);
  }

  60% {
    transform: rotate(399deg);
  }

  75% {
    transform: rotate(361deg);
  }

  90%,
  to {
    transform: rotate(374deg);
  }
}

@keyframes ball2 {
  from {
    transform: rotate(-21deg);
  }

  25% {
    transform: rotate(-47deg);
  }

  60% {
    transform: rotate(364deg);
  }

  75% {
    transform: rotate(326deg);
  }

  90%,
  to {
    transform: rotate(339deg);
  }
}